@font-face {
  font-family: 'Wash Your Hand';
  src: url('../assets/fonts/wash-your-hand.woff2') format('woff2'),
    url('../assets/fonts/wash-your-hand.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
