@font-face {
  font-family: 'Wash Your Hand';
  src: url("../assets/fonts/wash-your-hand.woff2") format("woff2"), url("../assets/fonts/wash-your-hand.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  background-color: yellow;
  font-family: 'Wash Your Hand';
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: #147;
  font-family: 'Wash Your Hand';
  font-weight: 400;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 white;
}

.btn {
  background-color: aliceblue;
  border: 2px solid black;
  border-radius: 30px;
  font-family: 'Wash Your Hand';
  font-size: 24px;
  padding: 12px 20px;
}
.btn:hover {
  background-color: aqua;
}
.btn:focus {
  outline: none;
}

.layer {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
.layer.show {
  display: block;
}
.layer > img {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.wrapper-selection {
  width: 250px;
  margin: 0 auto;
  position: relative;
}
.wrapper-selection:after {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid black;
  content: '';
  position: absolute;
  top: 24px;
  right: 20px;
}

.selection {
  width: 100%;
  -webkit-appearance: none;
  background-color: aliceblue;
  border: 2px solid black;
  border-radius: 30px;
  font-family: 'Wash Your Hand';
  font-size: 24px;
  padding: 12px 20px;
}
.selection:hover {
  background-color: aqua;
}
.selection:focus {
  outline: none;
}

.table {
  width: 600px;
  height: 404px;
  border: 2px solid black;
  border-radius: 10px;
  display: none;
  margin: 20px auto 0 auto;
}
.table.show {
  display: block;
}
.table > .table__left,
.table > .table__right,
.table > .table__results {
  height: 400px;
  float: left;
}
.table > .table__left,
.table > .table__right {
  background-color: aqua;
}
.table > .table__left {
  width: 20%;
  border-radius: 10px 0 0 10px;
}
.table > .table__left > ul > li {
  padding: 6px 0 0 0;
}
.table > .table__right {
  width: 60%;
}
.table > .table__right > ul > li {
  padding: 4px 0 0 0;
  position: relative;
}
.table > .table__right > ul > li > input[type='number'] {
  width: 274px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  font-size: 16px;
  text-align: center;
  padding: 0 10px;
  position: absolute;
  top: 4px;
  left: 4px;
}
.table > .table__right > ul > li > button {
  width: 70px;
  height: 30px;
  background-color: #df0;
  border: 1px solid rgba(0, 0, 0, 0.6);
  color: black;
  font-weight: bold;
  position: absolute;
  top: 4px;
  right: 4px;
  text-transform: capitalize;
}
.table > .table__right > ul > li > button:disabled {
  opacity: 0.5;
}
.table > .table__right > ul > li > button:hover:not(:disabled) {
  background-color: #ffc;
}
.table > .table__right > ul > li > button:focus {
  outline: none;
}
.table > .table__results {
  border-radius: 0 10px 10px 0;
}
.table > .table__results > ul > li {
  font-size: 24px;
  padding: 7px 0 0 0;
}
.table > .table__results > ul > li > .icon-emo-sleep {
  color: #777;
}
.table > .table__results > ul > li > .icon-emo-unhappy {
  color: #700;
}
.table > .table__results > ul > li > .icon-emo-wink2 {
  color: #070;
}
.table > .table__results {
  width: 20%;
  background-color: aliceblue;
}
.table > .table__left,
.table > .table__right {
  border-right: 2px solid black;
}
.table > .table__left > ul,
.table > .table__right > ul,
.table > .table__results > ul {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
.table > .table__left > ul > li,
.table > .table__left > ul > li,
.table > .table__left > ul > li,
.table > .table__right > ul > li,
.table > .table__right > ul > li,
.table > .table__right > ul > li,
.table > .table__results > ul > li,
.table > .table__results > ul > li,
.table > .table__results > ul > li {
  height: 40px;
  border-bottom: 2px solid black;
  font-weight: bold;
  text-align: center;
}
.table > .table__left > ul > li:last-of-type, .table > .table__left > ul > li:last-of-type, .table > .table__left > ul > li:last-of-type,
.table > .table__left > ul > li:last-of-type,
.table > .table__left > ul > li:last-of-type,
.table > .table__left > ul > li:last-of-type,
.table > .table__left > ul > li:last-of-type,
.table > .table__left > ul > li:last-of-type,
.table > .table__left > ul > li:last-of-type,
.table > .table__right > ul > li:last-of-type,
.table > .table__right > ul > li:last-of-type,
.table > .table__right > ul > li:last-of-type,
.table > .table__right > ul > li:last-of-type,
.table > .table__right > ul > li:last-of-type,
.table > .table__right > ul > li:last-of-type,
.table > .table__right > ul > li:last-of-type,
.table > .table__right > ul > li:last-of-type,
.table > .table__right > ul > li:last-of-type,
.table > .table__results > ul > li:last-of-type,
.table > .table__results > ul > li:last-of-type,
.table > .table__results > ul > li:last-of-type,
.table > .table__results > ul > li:last-of-type,
.table > .table__results > ul > li:last-of-type,
.table > .table__results > ul > li:last-of-type,
.table > .table__results > ul > li:last-of-type,
.table > .table__results > ul > li:last-of-type,
.table > .table__results > ul > li:last-of-type {
  border-bottom: none;
}

.correct-all {
  background-color: #dfb;
  display: none;
  margin: 20px auto 0 auto;
  padding-right: 15px;
}
.correct-all > i:before {
  margin-right: 0;
}
.correct-all.show {
  display: block;
}

.hits {
  color: #147;
  display: none;
  font-size: 26px;
  font-weight: bold;
  margin: 20px auto 30px auto;
  text-align: center;
  text-shadow: 1px 1px 0 white;
}
.hits.show {
  display: block;
}
